{% extends 'twitter/base.html' %}

{% block title %} AddMessage {% endblock %}

{% block content %}

<div>
    <table>
        <th colspan="2">Send message:</th>
        <tr>
            <td>From: {{ sender.get_username }}</td>
            <td>To:  {{ receiver.get_username }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <form action="{% url 'twitter:add_message' user.id %}" method="POST">
                {% csrf_token %}
                {{ message_form.as_p }}
                <input type="submit" value="Send message">
                </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}