{% extends 'twitter/base.html' %}

{% block title %} Twitts {% endblock %}

{% block content %}

<div class="tweet" id="add-tweet">
    <h4>New tweet:</h4>
    <form action="{% url 'twitter:add_tweet' %}" method="POST">
        {% csrf_token %}
        {{ tweet_form.as_p }}
        <a href=""><input type="submit" value="Add tweet"></a>
    </form>
</div>
<br>
<div class="tweet" id="all-tweets">
    <h4>Last tweets:</h4>
    <table>
        {% for tweet in tweet_list %}
        <tr>
            <td>
                <a href="{% url 'twitter:tweet_details' tweet.id %}">
                {{ tweet.contents }}</a>
            </td>
            <td>{{ tweet.creation_date }}</td>
            <td>
                <a href="{% url 'twitter:user_details' tweet.user.id %}">
                    {{ tweet.user.get_username }}</a>
            </td>
            <td>
                {{ tweet.user.get_full_name }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="tweet" id="messages">
    <h4>Messages:</h4>
    <p><a href="{% url 'twitter:messages' %}">Messages</a></p>
</div>

{% endblock %}
