{% extends 'twitter/base.html' %}

{% block content %}

<table>
  <thead>
    <tr>
      <th>Who:</th>
      <th>What:</th>
      <th>When:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {% for tweet in tweet_list %}
    <tr>
        <td><strong>{{ tweet.email }}</strong></td>
        <td>{{ tweet.content }}</td>
        <td>{{ tweet.creation_date }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><a href="{% url 'twitter:add_tweet'%}">New
            tweet</a></td>
    </tr>
    <tr>
        <td colspan="3"><a href="{% url 'twitter:logout' %}">Logout</a></td>
    </tr>
</table>
{% endblock %}