{% extends 'twitter/base.html' %}

{% block title %} Twitts {% endblock %}

{% block content %}

<div>
    <table>
        <div id="add_tweet">
            <tr>
            <th colspan="4">New tweet:</th>
        </tr>
        <tr>
            <td colspan="4">
                <form action="{% url 'twitter:add_tweet' %}" method="POST">
                    {% csrf_token %}
                    {{ tweet_form.as_p }}
                    <input type="submit" value="Add tweet">
                </form>
            </td>
        </tr>
        </div>
        <div id="tweets">
        <tr>
            <th colspan="4">Last tweets:</th>
        </tr>
        <tr>
            <th>Contents:</th>
            <th>Date:</th>
            <th>Who:</th>
            <th>Name:</th>
        </tr>
        {% for tweet in tweet_list %}
        <tr>
            <td>
                <a href="{% url 'twitter:tweet_details' tweet.id %}">
                {{ tweet.contents }}</a>
            </td>
            <td>{{ tweet.creation_date }}</td>
            <td>
                <a href="{% url 'twitter:user_details' tweet.user.id %}">
                    {{ tweet.user.get_username }}</a>
            </td>
            <td>
                {{ tweet.user.get_full_name }}
            </td>
        </tr>
        {% endfor %}
        </div>
    </table>
    <table>
        <div id="messages">
        <tr>
            <th colspan="4">
                Messages:
            </th>
        </tr>
        <tr>
            <td colspan="4">
                <a href="{% url 'twitter:messages' %}">
                Messages
                </a>(unread: {{ received_messages.count }})
            </td>
        </tr>
        </div>
    </table>
</div>

{% endblock %}
