{% extends 'twitter/base.html' %}

{% block title %} MessageDetails {% endblock %}

{% block content %}

<div>
    <table>
        <th colspan="4">Message details:</th>
        <tr>
            <td>{{ message.contents }}</td>
            <td>From: <a href="{% url 'twitter:user_details' message.sender.id %}">
            {{ message.sender.get_username }}</a>
            </td>
            <td>{{ message.creation_date }}</td>
            <td><a href="{% url 'twitter:messages' %}"> Messages</a></td>
        </tr>
    </table>
</div>

{% endblock %}