{% extends 'twitter/base.html' %}

{% block title %} Messages {% endblock %}

{% block content %}

<div id="received_messages">
<table>
    <tr><th colspan="4">Received messages:</th></tr>
    {% for message in received_messages %}
    <tr>
        <td>
            <a href="{% url 'twitter:message_details' message.id %}">
                {{ message.contents|slice:":30" }}</a></td>
        <td>From: <a href="{% url 'twitter:user_details' message.sender.id %}">
            {{ message.sender.get_username }}</a></td>
        <td>{{ message.creation_date }}</td>
        {% if message.read_off is False %}
        <td>Unread message!</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr><th colspan="3">Sent messages:</th></tr>
    {% for message in sent_messages %}
    <tr>
        <td>
            <a href="{% url 'twitter:message_details' message.id %}">
                {{ message.contents|slice:":30" }}</a>
        </td>
        <td>To:
            <a href="{% url 'twitter:user_details' message.receiver.id %}">
            {{ message.receiver.get_username }}</a>
        </td>
        <td>
            {{ message.creation_date }}
        </td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}