{% extends 'twitter/base.html' %}

{% block title %} Messages {% endblock %}

{% block content %}
<div id="unread_messages">
<h4>Uread messages:</h4>
<table>
    {% for message in received_messages %}
    {% if message.read_off is False %}
        <tr>
            <td><th>From: </th></td>
            <td>{{ message.sender.get_username }}</td>
            <td><th>Date: </th></td>
            <td>{{ message.creation_date }}</td>
            <td><th>Contents: </th></td>
            <td>{{ message.contents|slice:":30" }}</td>
            <td>
                <a href="{% url 'twitter:message_details' message.id %}">Read</a>
            </td>
        </tr>
        {% endif %}
{% endfor %}
</table>
</div>

<div id="read_messages">
<h4>Received messages:</h4>
<table>
    {% for message in received_messages %}
    {% if message.read_off is True %}
    <tr>
        <td><th>From: </th></td>
        <td><a href="{% url 'twitter:user_details' message.sender.id %}">
            {{ message.sender.get_username }}</a></td>
        <td><th>Date: </th></td>
        <td>{{ message.creation_date }}</td>
        <td><th>Contents: </th></td>
        <td>{{ message.contents|slice:":30" }}</td>
        <td>
            <a href="{% url 'twitter:message_details' message.id %}">Read</a>
        </td>
    </tr>
{% endif %}
{% endfor %}
</table>
</div>
<div id="send_messages">
<h4>Sent messages:</h4>
<table>
    {% for message in sent_messages %}
    <tr>
        <td><th>To:</th></td>
        <td>
            <a href="{% url 'twitter:user_details' message.receiver.id %}">
            {{ message.receiver.get_username }}</a>
        </td>
        <td><th>Date:</th></td>
        <td>
            {{ message.creation_date }}
        </td>
        <td><th>Contents:</th></td>
        <td>
            {{ message.contents|slice:":30" }}
        </td>
        <td>
            <a href="{% url 'twitter:message_details' message.id %}">Read</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}