{% extends 'twitter/base.html' %}

{% block title %} TweetDetails {% endblock %}

{% block content %}
<div id="tweet-details">
    <h4>Tweet details:</h4>
    <table>
        <tr>
            <td><th>Tweet:</th></td>
            <td>{{ tweet.contents }}</td>
        </tr>
        <tr>
            <td><th>Author:</th></td>
            <td>
                <a href="/twitter/user_details/{{ user.id }}">
                   {{ tweet.user.get_full_name }}</a>
            </td>
        </tr>
        <tr>
            <td><th>Date:</th></td>
            <td>{{ tweet.creation_date }}</td>
        </tr>
    </table>
</div>
<div id="all-comments">
    <h4>Comments:</h4>
    <table>
        {% for comment in comments_list %}
        <tr>
            <td><th>{{ comment.contents }}</th></td>
            <td>{{ comment.user.get_full_name }}</td>
            <td>{{ comment.creation_date }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div id="add-comment">
    <h4>New comment:</h4>
    <form action="" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <a href=""><input type="submit" value="Add comment"></a>
    </form>
</div>

{% endblock %}