{% extends 'twitter/base.html' %}

{% block title %} UserDetails {% endblock %}

{% block content %}

<div>
    <table>
        <tr>
            <th colspan="2">Update personal information:</th>
        </tr>
        <tr>
            <form	action=""	method="POST">
                {% csrf_token %}
                {{ form}}
                <th>Click or press enter to confirm:</th>
                <td><input	type="submit" value="Update"></td>
            </form>
        </tr>
    </table>
    <table>
        <tr>
        <th colspan="2">Change password or delete account:</th>
        </tr>
        <tr>
            <td colspan="2">
                <a href="{% url 'twitter:password_change' %}">Change password</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/twitter/user_delete/{{ request.user.id }}">
                    Delete account</a>
            </td>
        </tr>
    </table>
</div>

{% endblock %}