{% extends 'twitter/base.html' %}

{% block title %} UserDetails {% endblock %}

{% block content %}

<div id="user-details">
    <h4>Tweets of {{ user.get_username }} :</h4>
        <ul>
        {% for tweet in tweet_list %}
            <li>{{ tweet.contents }} &nbsp {{ tweet.creation_date }}</li>
            <li>Comments: &nbsp {{ tweet.comment_set.count }}</li>
        {% endfor %}
        </ul>
</div>

{% if user != logged_user %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        {{ message_form.as_p }}
        <a href=""><input type="submit" value="Send message"></a>
    </form>
</div>
{% endif %}

{% endblock %}