{% extends 'twitter/base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<form action="{% url 'twitter:login' %}" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th colspan="3">Welcome to Twitter!</th>
        </tr>
        <tr>
            {{ form }}
        </tr>
        <tr>
            <th>Click login or press enter:</th>
            <td><input type="submit" value="Login">&nbsp;
                <a href="{% url 'twitter:signup' %}">Signup with email</a>
                <!--<a href="{% url 'twitter:password_reset' %}">Lost password?</a>-->
            </td>
        </tr>
    </table>
</form>

{% endblock %}